@import url("reset.css");

/* common styles */

*,
*::after,
*::before{
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.wrapper-inner {
    max-width: 970px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}


/* header */
.header {
    background: #FFFFFF;
    padding: 18px 0;
}
.logo a{
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #69B9FF;
}

.header .wrapper-inner{
    display: flex;
    justify-content: space-between;
}
.navigation ul{
display: flex;
}
.navigation li{
    margin: 0 40px 0 0;
}
.navigation a{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #676770;
}

.banner{
    background-image: url(../img/banner.jpg);
    padding-top:184px;
    padding-bottom: 199px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.banner h1{
    font-size: 59px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 106px;
    color: #FFFFFF;
    padding:10px 30px;
    border-radius: 4px;
}
.btn{
    font-size: 16px;
    line-height: 21px;
    
    
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 10px 30px;
}



.btn-blue {
    background: #69B9FF;
    border: 1px solid #69B9FF;
    margin-right: 20px;
}
/* ========================================== */
.work{
    background-color: #fff;
    padding-top: 77px;
    padding-bottom: 80px;
}
.work h2{
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #676770;
    margin-bottom: 17px;
}
.work-subtitle{
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #8E8E9C;
     margin-bottom: 62px;
}

.box img {
    width: 94px;
    height: 94px;
    object-fit: cover;
    margin-bottom: 19px;
}
.big-box{
    display: flex;
    gap: 20px;   
}
.box{
    border: 1px solid #DCEBF7;
border-radius: 5px;
text-align: center;
padding:36px 16px 23px ;
}
.box h3{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: #676770;
    margin-bottom: 14px;
}
.box p{
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #6A859C;
}
.tabs-container label {
    background: #92A0AD;
    border-radius: 4px;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    color: #FFFFFF;
    padding: 1px 30px ;
    margin-bottom: 53px;
}

.content-tab {
    display: none;
}
#tab1:checked~.content-tab1 {
    display: block;
}
#tab2:checked~.content-tab2 {
    display: block;
}
#tab3:checked~.content-tab3 {
    display: block;
}

#tab1:checked+label {
    background: #2E80B6;
}
#tab2:checked+label {
    background: #2E80B6;
}
#tab3:checked+label {
    background: #2E80B6;
}

.tabs-container input {
    display:none;
}


/* services section */
.services{
    background: #192024;
    padding-top: 77px;
    padding-bottom: 96px;
}
h2{
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 17px;
}
.services .section-subtitle{
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #8E8E9C;
    margin-bottom: 77px;
}
.card h4{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.card p{
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin: 23px 0 17px;
}

.card a {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 10px 31px;
    display: inline-block;
    
}
.banner2{
    display: flex;
    text-align: center;
    gap: 20px;
}

.subtitle{
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #8E8E9C;
    margin-bottom: 93px;
}
.content-tab h3{
    font-size: 31px;
    line-height: 36px;
    text-align: center;
    color: #676770;  
    margin-bottom: 14px;  
}
.content-tab p{
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    color: #6A859C;
}
.tabs{
    padding-top: 77px;
    padding-bottom: 90px;
    background-color: #fff;
    text-align: center;
}
.tabs h2{ 
    color: #676770;
}

.subtitle p{
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #8E8E9C;
}
.footer-boxes{
    display:flex ;
}
.footer-item{
    flex: 1 1 320px;
    padding-right: 20px;
}
.footer-item h4{
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #676770;
    margin-bottom: 21px;
}
.footer-item p {
    font-size: 13px;
    line-height: 20px;
    color: #668CAD;
}
.footer-item a{
    font-size: 13px;
    line-height: 20px;
    color: #668CAD;
}
.footer-item img{
    margin-right: 11px;
    vertical-align: middle;
}
.footer-item li{
    border-bottom: 1px solid #D5D5E0;
    padding-bottom: 12px;
    margin-bottom: 5px;
}
.copyright {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #9E9E9E;
    padding: 40px 0;
background: #383838;
}

@media (max-width: 998px ) {
    .banner h1 {
        font-size: 40px;
    }
}

@media (max-width: 768px ) {
    .banner2 .card{
        margin-bottom: 20px;
    }
    .big-box {
        display: block;
    }
    .box {
        margin-bottom: 20px;
    }
    .banner2{
        display: block;
    }

    .tabs-container label span {
        display: none;
    }
    .footer-boxes{
        display: block;
    }
    .footer-item{
        margin-bottom: 40px;
        padding: 0;
    }
}

@media (max-width: 450px ) {
    .navigation li{
        margin-right: 25px;
    }
    .navigation li:last-child{
        margin-right: 0;
    }
   .btn{
       display: block;
       margin-bottom: 20px;
       margin-right: 0;
       
   }
   .tabs-container label{
       padding: 1px 15px;
   }
}